<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet"/>
</head>
<body class="flex-column h-100">

<div th:replace="~{utils/header :: header}"></div>

<main role="main" class="">
    <div class="container-page align-items-center ">
        <!--<div class="jumbotron">-->
            <div class="container text-center" style="max-width: 500px;">
                <!--<h1 class="display-4 ">Info</h1> --><!-- para padding boostrap ( class="pt-5")-->
                <h1 class="display-5 ">Control del Sistema</h1> <!--para margin boostrap  ( class="mt-5") (pero se le aplica a toda la hoja en general)-->
            <!--</div>-->
            
            
                <!--<div class="list-group list-group-light ">
                 
                    <a th:href="@{/maintainMenu}" class="list-group-item list-group-item-action px-5 border-4 rounded-3 my-3 list-group-item-danger">
                    Salir del Sistema</a>
                    
                </div>-->
            </div> 
            <form class="needs-validation" novalidate>
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Codigo</label>
                    <input type="text" class="form-control" id="validationCustom01" placeholder="Codigo" value="" required>
                    <div class="valid-feedback">
                      Ingrese código
                    </div>
                  </div>


                </div>
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label for="validationCustom03">Descripcion</label>
                    <input type="text" class="form-control" id="validationCustom03" placeholder="Descripcion" required>
                    <div class="invalid-feedback">
                      Please provide a valid city.
                    </div>
                  </div>
                  <div class="col-md-3 mb-3">
                    <div class="col">
                      <label for="validationCustom04">Estado</label>
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" event="dropdown">
                          Activo
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" id="dropdownelementActive" href="#">Activo</a>
                          <a class="dropdown-item" id="dropdownelementInactive" href="#">Inactiva</a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <row class="justify-content-center">
                  <button class="btn btn-primary mx-4 my-3" type="submit">Agregar</button>
                  <button class="btn btn-primary mx-4 my-3" type="submit">Modificar</button>  
                  <button class="btn btn-primary mx-4 my-3" type="submit">Limpiar</button>
                  <button class="btn btn-primary mx-4 my-3 btn btn-danger" type="button" th:onclick="|window.location.href='@{/maintainMenu}'|" data-mdb-ripple-init >Salir</button>
                </row>
                
              </form>
                    
                


            </form>

            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">DNI</th>
                    <td>Documento Nacional de Identidad</td>
                    <td>Activo</td>
                  </tr>
                  <tr>
                    <th scope="row">CE</th>
                    <td>Carnet de Extranjeria</td>
                    <td>Activo</td>
                  </tr>
                  <tr>
                    <th scope="row">PAS</th>
                    <td>Pasaporte</td>
                    <td>Activo</td>
                  </tr>
                  

                  </tr>
                </tbody>
              </table>
        


          
    </div>
    

</main>

<div th:replace="~{utils/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
<!-- Bootstrap JS -->
<script>
  $().dropdown('update', function() {})
</script>
</body>
</html>