<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet"/>
</head>
<body class="flex-column h-100">

<div th:replace="~{utils/header :: header}"></div>

<main role="main" class="">
    <div class="container-page align-items-center ">
        <!--<div class="jumbotron">-->
            <div class="container text-center" style="max-width: 500px;">
                <!--<h1 class="display-4 ">Info</h1> --><!-- para padding boostrap ( class="pt-5")-->
                <h1 class="display-5 ">Menu Principal</h1> <!--para margin boostrap  ( class="mt-5") (pero se le aplica a toda la hoja en general)-->
            <!--</div>-->
            
            
                <div class="list-group list-group-light ">
                    <a th:href="@{/maintainMenu}" class="list-group-item list-group-item-action px-5  rounded-3 my-3 list-group-item-primary">
                    Mantenimiento de Tablas</a>
                    <a href="#" class="list-group-item list-group-item-action px-5 border-4 rounded-3 my-3 list-group-item-primary">
                    Registro de Datos Personales</a>
                    <a href="#" class="list-group-item list-group-item-action px-5 border-4 rounded-3 my-3 list-group-item-primary">
                    Consulta de Traslados</a>
                    <a href="#" class="list-group-item list-group-item-action px-5 border-4 rounded-3 my-3 list-group-item-primary">
                    Consultas y/o Reportes</a>
                    <a th:href="@{/}" class="list-group-item list-group-item-action px-5 border-4 rounded-3 my-3 list-group-item-danger">
                    Salir del Sistema</a>
                    
                </div>
            </div>    
          
    </div>
    

</main>

<div th:replace="~{utils/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
<!-- Bootstrap JS -->
</body>
</html>